<script>
var re = /[\?&]domain=([a-z0-9\.\-]+)/i;
var m = re.exec(document.location.search);
if (m != null) { document.write('<a class=button href="/CMD_PLUGINS/Stats_Control/?domain='+m[1]+'">Stats Control</a>'); }
</script>
<noscript>
<a class=button href="/CMD_PLUGINS/Stats_Control/?domain=|domain|">Stats Control</a>
</noscript>
