#!/usr/local/bin/php -n
<? 
include('common.php');

if (@filesize("$CONF_DIR/awstats.conf")) $CFG_AW=parse_ini_file("$CONF_DIR/awstats.conf");
else $CFG_AW=parse_ini_file("$GLOBAL_DIR/awstats.conf.default");

if (file_exists("$CONF_DIR/aw_static")) $BuildStatic=1;
else $BuildStatic=0;

switch ($params['do']){
case 'install':
	if ($params['user']=='') message('Error','You must specify username');
	if (mkdir_r("$DOMAIN_DIR/.htpasswd/public_html/{$params['path']}") && ($fp=fopen("$DOMAIN_DIR/.htpasswd/public_html/{$params['path']}/.htpasswd",'w'))){
		fputs($fp,"{$params['user']}:".crypt($params['pass'],CRYPT_STD_DES)."\n");
		fclose($fp);
		if ($fp=fopen("$DOMAIN_DIR/.htpasswd/.protected.list",'a')){
			fputs($fp,"/domains/{$params['domain']}/public_html/{$params['path']}\n");
			fclose($fp);
		}
	} 
	$CFG['AW_CGI_PATH']=$params['path'];
	if ($fp=fopen("$CONF_DIR/config.ini",'w')){
		foreach ($CFG as $key=>$value) 
			fputs($fp,"$key=\"$value\"\n");
		fclose($fp);
	}
	if ($BuildStatic) unlink("$CONF_DIR/aw_static");
case 'reinstall':
    	mkdir_r("$DOMAIN_DIR/public_html/{$params['path']}");
	if ($fp=fopen("$DOMAIN_DIR/public_html/{$params['path']}/awstats.pl",'w')){
		fputs($fp,"#!/usr/bin/env perl\nchdir '$AW_DIR';\nrequire '$AW_SCRIPT';\n");
		fclose($fp);
		chmod("$DOMAIN_DIR/public_html/{$params['path']}/awstats.pl",0755);
	}
	if (is_link("$DOMAIN_DIR/public_html/{$params['path']}/lib")) unlink ("$DOMAIN_DIR/public_html/{$params['path']}/lib");
	if (is_link("$DOMAIN_DIR/public_html/{$params['path']}/lang")) unlink ("$DOMAIN_DIR/public_html/{$params['path']}/lang");
	if (is_link("$DOMAIN_DIR/public_html/{$params['path']}/plugins")) unlink ("$DOMAIN_DIR/public_html/{$params['path']}/plugins");
	#symlink ("$AW_DIR/lib","$DOMAIN_DIR/public_html/{$params['path']}/lib");
	#symlink ("$AW_DIR/lang","$DOMAIN_DIR/public_html/{$params['path']}/lang");
	#symlink ("$AW_DIR/plugins","$DOMAIN_DIR/public_html/{$params['path']}/plugins");
	if ($fp=fopen("$DOMAIN_DIR/public_html/{$params['path']}/.htaccess",'w')){
		$str="Options +ExecCGI
DirectoryIndex awstats.pl

AuthName \"AWStats viewer\"
AuthType Basic
AuthUserFile $DOMAIN_DIR/.htpasswd/public_html/{$params['path']}/.htpasswd
AuthGroupFile /dev/null
require valid-user
";
		fputs($fp,$str);
		fclose($fp);
	}
	message('Done',"AWStats viewer installed<p><a href='?domain={$params['domain']}'>Back</a></p>");
	break;

case 'save':
	if ($BuildStatic) { if (!$params['BuildStatic']) unlink("$CONF_DIR/aw_static");
	} elseif ($params['BuildStatic']) fclose(fopen("$CONF_DIR/aw_static",'w'));
	foreach ($params as $key=>$value) 
		if (preg_match('/^(Lang|DetailedReportsOnNewWindows|FirstDayOfWeek|UseFramesWhenCGI)$/',$key))
			$CFG_AW[$key]=$value;
	if ($fp=fopen("$CONF_DIR/awstats.conf",'w')) {
		foreach ($CFG_AW as $key=>$value) 
			fputs($fp,"$key=\"$value\"\n");
		fclose($fp);
		message('Settings saved','Reports will be affected with new changes after next stats update run');
	} else message('Error',"Can't open config file for writing");
    break;
case 'uninstall':
	unlink("$DOMAIN_DIR/public_html/{$CFG['AW_CGI_PATH']}/awstats.pl");
	unlink("$DOMAIN_DIR/public_html/{$CFG['AW_CGI_PATH']}/.htaccess");
	unlink("$DOMAIN_DIR/public_html/{$CFG['AW_CGI_PATH']}/lib");
	unlink("$DOMAIN_DIR/public_html/{$CFG['AW_CGI_PATH']}/lang");
	unlink("$DOMAIN_DIR/public_html/{$CFG['AW_CGI_PATH']}/plugins");
	rmdir("$DOMAIN_DIR/public_html/{$CFG['AW_CGI_PATH']}");
	if (!$BuildStatic) fclose(fopen("$CONF_DIR/aw_static",'w'));
	message('Done',"AWStats viewer uninstalled<p><a href='?domain={$params['domain']}'>Back</a></p>");
    break;

default:
	$langs['auto']='auto';
	if ($fd=opendir("$AW_DIR/lang")){
		while (false !== ($file = readdir($fd))) 
			if (preg_match('/^awstats-(\w{2}).txt$/',$file,$arr)) {
				$langs[$arr[1]]=$arr[1];
			}
		closedir($fd);
	}
	echo "<p><table cellpadding=3 cellspacing=1><form method=post action='?domain={$params['domain']}&do=save'>
	<tr><td class=listtitle colspan=2>AWStats settings</td></tr>
	<tr><td class=listwrap>Language</td><td class=listwrap><select name=Lang>".options($langs,$CFG_AW['Lang'],'')."</select></td></tr>
	<tr><td class=listwrap>Open details in new window</td><td class=listwrap><select name=DetailedReportsOnNewWindows>".options(Array(0=>'Never',1=>'Except if using frames',2=>'Always'),$CFG_AW['DetailedReportsOnNewWindows'],'')."</select></td></tr>
	<tr><td class=listwrap>First day of the week</td><td class=listwrap><select name=FirstDayOfWeek>".options(Array(1=>'Monday',0=>'Sunday'),$CFG_AW['FirstDayOfWeek'],'')."</select></td></tr>
".($DENY['awstats_static']?'':"	<tr><td class=listwrap>Build static pages</td><td class=listwrap><select name=BuildStatic>".options(Array(1=>'Yes',0=>'No (View stats with AWStats viewer)'),$BuildStatic)."</select></td></tr>
")."
	<tr><td class=listtitle colspan=2 align=right><input type=submit value='Save'></td></tr>
	<tr><td colspan=2>&nbsp</td></tr>
";

	if (!file_exists("$DOMAIN_DIR/public_html/{$CFG['AW_CGI_PATH']}/awstats.pl")) {
		echo "	</form><form method=post action='?domain={$params['domain']}&do=install'>
	<tr><td class=listtitle colspan=2>AWStats viewer CGI-script</td></tr>
	<tr><td class=listwrap align=right>Username</td><td class=listwrap><input name=user value=stats></td></tr>
	<tr><td class=listwrap align=right>Password</td><td class=listwrap><input type=password name=pass></td></tr>
	<tr><td class=listwrap align=right>Install into public_html/</td><td class=listwrap><input name=path value='{$CFG['AW_CGI_PATH']}'></td></tr>
	<tr><td class=listwrap align=center colspan=2 style='color:red'>CGI-support must be enabled on your domain for this script to work</td></tr>
	<tr><td class=listtitle colspan=2 align=right><input type=submit value='Install'></td></tr>
";
	} else {
		echo "	<tr><td class=listtitle colspan=2>AWStats viewer settings</td></tr>
	<tr><td class=listwrap>Use frames</td><td class=listwrap><select name=UseFramesWhenCGI>".options(Array(1=>'Yes',0=>'No'),$CFG_AW['UseFramesWhenCGI'],'')."</select></td></tr>
	<tr><td class=listwrap>Password protection</td><td class=listwrap><a href='/CMD_FILE_MANAGER/domains/{$params['domain']}/public_html/{$CFG['AW_CGI_PATH']}?action=protect'>Edit</a></td></tr>
	<tr><td class=listwrap>AWStats viewer CGI-script</td><td class=listwrap align=center><input type=button value='Reinstall' onClick='document.location=\"?domain={$params['domain']}&do=reinstall&path={$CFG['AW_CGI_PATH']}\"'> &nbsp; <input type=button value='Uninstall' onClick='document.location=\"?domain={$params['domain']}&do=uninstall\"'></td></tr>
	<tr><td class=listtitle colspan=2 align=right><input type=submit value='Save'></td></tr>
";
	}
	echo "</form></table></p><p><a href='/CMD_FILE_MANAGER/domains/{$params['domain']}/.plugins/stats_control/awstats.conf?action=edit'>Customize your awstats.conf manually</a></p>";
}
echo $PAGE_FOOTER;
