#!/usr/local/bin/php -n
<? 
include('common.php');

function parse_config($file){
	$res=Array();
	$arr=file($file);
	foreach ($arr as $str) {
		$str=trim($str);
//		if (preg_match("/([\w\d]+)\s+(['\"][^'\"]+['\"]|\S+)/",$str,$m))
//			$res[$m[1]]=$m[2];
		list($key,$value)=preg_split('/\s+/',$str,2);
		if (preg_match('/^(AllURLs|AllSites|AllReferrers|AllSearchStr|AllAgents|AllUsers)$/',$key))
			$res[$key]=$value;
		else $res[$str]='';
	}
	return $res;
}

if (@filesize("$CONF_DIR/webalizer.conf")) $CFG_WB=parse_config("$CONF_DIR/webalizer.conf");
else $CFG_WB=parse_config("$GLOBAL_DIR/webalizer.conf.default");

if (!($WB_LANG=trim(@file_get_contents("$CONF_DIR/webalizer_lang")))) $WB_LANG='default';

switch ($params['do']){
case 'save':
	foreach ($params as $key=>$value) 
		if (preg_match('/^(AllURLs|AllSites|AllReferrers|AllSearchStr|AllAgents|AllUsers)$/',$key))
			$CFG_WB[$key]=$value;
		elseif ($key=='Lang' && $value!=$WB_LANG) if ($fp=fopen("$CONF_DIR/webalizer_lang",'w')) {
				fputs($fp,$value);
				fclose($fp);
			}
	if ($fp=fopen("$CONF_DIR/webalizer.conf",'w')) {
		foreach ($CFG_WB as $key=>$value) {
			fputs($fp,"$key");
			if ($value) fputs($fp,"	$value");
			fputs($fp,"\n");
		}
		fclose($fp);
		message('Settings saved','Reports will be affected with new changes after next stats update run');
	} else message('Error',"Can't open config file for writing");
    break;

default:
	$arr=explode(':',$WB_LANGS);
	foreach ($arr as $lang) if (is_executable("$WB_BIN_DIR/webalizer_$lang")) $langs[$lang]=$lang;
	$arr=Array('no'=>'no','yes'=>'yes');
	echo "<p><table cellpadding=3 cellspacing=1><form action='?domain={$params['domain']}&do=save' method=post>
	<tr><td class=listtitle colspan=2>Webalizer settings</td></tr>
	<tr><td class=listwrap>Language</td><td class=listwrap><select name=Lang>".options($langs,$WB_LANG,'')."</select></td></tr>
	<tr><td class=listwrap>Generate page with all URLs</td><td class=listwrap><select name=AllURLs>".options($arr,$CFG_WB['AllURLs'],'')."</select></td></tr>
	<tr><td class=listwrap>Generate page with all Sites</td><td class=listwrap><select name=AllSites>".options($arr,$CFG_WB['AllSites'],'')."</select></td></tr>
	<tr><td class=listwrap>Generate page with all Referrers</td><td class=listwrap><select name=AllReferrers>".options($arr,$CFG_WB['AllReferrers'],'')."</select></td></tr>
	<tr><td class=listwrap>Generate page with all Search Strings</td><td class=listwrap><select name=AllSearchStr>".options($arr,$CFG_WB['AllSearchStr'],'')."</select></td></tr>
	<tr><td class=listwrap>Generate page with all User Agents</td><td class=listwrap><select name=AllAgents>".options($arr,$CFG_WB['AllAgents'],'')."</select></td></tr>
	<tr><td class=listwrap>Generate page with all authorized Users</td><td class=listwrap><select name=AllAgents>".options($arr,$CFG_WB['AllUsers'],'')."</select></td></tr>
	<tr><td class=listtitle colspan=2 align=right><input type=submit value='Save'></td></tr>
</form></table></p>
<p><a href='/CMD_FILE_MANAGER/domains/{$params['domain']}/.plugins/stats_control/webalizer.conf?action=edit'>Customize your webalizer.conf manually</a></p>";
}
echo $PAGE_FOOTER;
