#!/usr/local/bin/php -n
<? 
include('common.php');

mkdir_r($CONF_DIR, 0700);

if ($params['do']=='save'){
	if ($DENY[$params['stats']]) message('Error occured',"You are not allowed to use <b>{$params['stats']}</b><p><a href='?domain={$params['domain']}'>Back</a></p>");
	if ($fp=fopen("$CONF_DIR/type",'w')){
		fputs($fp,$params['stats']);
		fclose($fp);
	}
	message('Settings saved',($params['stats']=='none'?'':'Reports will be affected with new changes after next stats update run')."<p><a href='?domain={$params['domain']}'>Back</a></p>");
} elseif ($params['stats']=trim(@file_get_contents("$CONF_DIR/type")))
    if ($DENY[$params['stats']]) $params['stats']='none';

if (file_exists("$CONF_DIR/aw_static")) $BuildStatic=1; else $BuildStatic=0;

$checked[$params['stats']]='checked';

echo "<p><table cellpadding=3 cellspacing=1><form method=post action='?domain={$params['domain']}&do=save'>
<tr><td class=listtitle colspan=2>Statistic reports configuration</td></tr>
<tr><td class=listwrap colspan=2><input type=radio name=stats value=none {$checked['none']}> Do not generate any reports</td></tr>
".($DENY['webalizer']?'':"<tr><td class=listwrap><input type=radio name=stats value=webalizer {$checked['webalizer']}> Use Webalizer</td><td class=listwrap align=center>[<a href='conf_webalizer.html?domain={$params['domain']}'>configure</a>]</td></tr>
").($DENY['awstats']?'':"<tr><td class=listwrap><input type=radio name=stats value=awstats {$checked['awstats']}> Use AWStats</td><td class=listwrap align=center>[<a href='conf_awstats.html?domain={$params['domain']}'>configure</a>]</td></tr>
")."<tr><td class=listtitle colspan=2 align=right><input type=submit value='Save'></td></tr>
</form></table></p>
";

$tmp=$tmp2='';
//if ($params['stats']!='none' && $handle=opendir($STATS_DIR)) {
if ($params['stats']!='none' && $arr=file("/usr/local/directadmin/data/users/$USER/httpd.conf")) {
	echo "<p><table cellpadding=3 cellspacing=1 width=200>\n";
	foreach ($arr as $str) if (preg_match("/^\s*ServerName\s+(www\.|)([a-z0-9\-\.]+?)\.{$params['domain']}\s+$/i",$str,$m)) $hosts[$m[2]]=1;
//	while (false !== ($file = readdir($handle))) if ($file != ".." && is_dir("$STATS_DIR/$file") && file_exists("$STATS_DIR/$file/index.html")) {
//		if ($file!='.') { $subdir="/$file"; $file="$file."; }
//		else $subdir=$file='';
	foreach($hosts as $key=>$value) {
		if ($key!='www') { $subdir="/$key"; $sub="$key."; }
		else $subdir=$sub='';
		$tmp.= "<tr><td class=listwrap align=right><a href='/CMD_WEBALIZER/{$params['domain']}$subdir/index.html'>$sub{$params['domain']}</a></td></tr>\n";
		$tmp2.="<tr><td class=listwrap align=right><a href='http://{$params['domain']}/{$CFG['AW_CGI_PATH']}/awstats.pl?config=$sub{$params['domain']}'>$sub{$params['domain']}</a></td></tr>\n";
	}
//	closedir($handle); 
	if ($params['stats']!='awstats' || $BuildStatic) echo "<tr><td class=listtitle>View stats</td></tr>\n$tmp";
	else $tmp='';
	if ($params['stats']=='awstats' && file_exists("$DOMAIN_DIR/public_html/{$CFG['AW_CGI_PATH']}/awstats.pl")) {
		if ($tmp) echo "<tr><td>&nbsp;</td></tr>\n";
		echo "<tr><td class=listtitle><nobr>View stats with AWStats viewer</nobr></td></tr>$tmp2\n";
	}
	echo "</table></p>\n";
}

echo $PAGE_FOOTER;
